<h2>Error</h2>
<div>
    <p>
        Se ha producido un error al intentar guardar tus datos. Porfavor vuelva a intentarlo.
    </p>
    <%= link_to 'Regresar', new_contact_path, class: "btn btn-primary" =%>
</div>