<h2>¡Listo!</h2>
<div>
    <p>
        Tus datos han sido guardados.
    </p>
    <p>
        Recibiras un SMS cuando haya un evento cercano a ti.
    </p>
    <p>
        ¡Gracias!
    </p>
    <%= link_to 'Regresar a inicio', home_index_path, class: "btn btn-primary" =%>
</div>